<div class="col-md-8">
	<div class="list-group">
		<h3>{{text}}</h3><br 
        {{#each choices}}
            <p class="list-group-item">{{input type="checkbox" checked=checked}}  {{text}}</p>
        {{/each}}
	</div>
</div>

{{outlet}}
